MIXTAPE_PROJECT_NAME=Automated YouTube Mixtape Creation API
MIXTAPE_API_V1_PREFIX=/api/v1
MIXTAPE_CORS_ALLOW_ORIGINS=*
MIXTAPE_DATA_DIR=data
MIXTAPE_LOG_LEVEL=INFO
FFMPEG_BINARY=ffmpeg
MIXTAPE_API_URL=http://localhost:8000
